<%- include('partials/_header') %>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">CulturaAppTivity</span>
    
    <form class="form-inline" action="?" method="POST">
      <input class="form-control mr-sm-2" type="text" placeholder="search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="sign_in"><i class="fas fa-sign-in-alt"></i> Sign in</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="sign_up"><i class="fas fa-sign-in-alt"></i> Sign up</button>
    </form>
  </nav>




<%- include('partials/_footer.ejs') %>