<%- include('partials/_header') %>

<div class="d-flex justify-content-center">

    <div class="card">
        <h5 class="card-header">Create Event</h5>
        <div class="card-body">
            <form action="/event" method="POST">
                <div class="form-group">
                    <label for="exampleInputTitle">titulo</label>
                    <input type="text" class="form-control" placeholder="title" name="title">

                </div>
                <div class="form-group">
                    <label for="exampleInputDescription">descripcion</label>
                    <input type="text" class="form-control" placeholder="description" name="description_event">

                </div>
                <div class="form-group">
                    <label for="exampleInputAforo">Aforo</label>
                    <input type="text" class="form-control" placeholder="aforo" name="max_capacity">
                </div>
                <div class="form-group">
                    <label for="exampleInputPrice">Precio</label>
                    <input type="text" class="form-control" placeholder="precio" name="price">
                </div>
                <button type="submit" class="btn btn-primary">Create event</button>
            </form>


        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 mt-3">
            <h4>Node.js upload images - bezkoder.com</h4>

            <form class="mt-4" action="/submitImg" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="image" id="input-files" class="form-control-file border" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <div class="preview-images"></div>
        </div>
    </div>
</div>


<%- include('partials/_footer.ejs') %>