<%- include('partials/_header') %>
<br>

<div class="d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <div class = "col-md">
                <div class="card">
                    <h5 class="card-header">Create Event</h5>
                    <div class="card-body">
                        <form action="/create-event" method="POST">
                            <div class="container">
                                <div class ="row">
                                    <div class = "col-md">
                                        <div class="form-group">
                                            <label for="exampleInputTitle">titulo</label>
                                            <input type="text" class="form-control" placeholder="title" name="title">

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputDescription">descripcion</label>
                                            <input type="text" class="form-control" row="3" placeholder="description" name="description_event">
                                        


                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputAforo">Aforo</label>
                                            <input type="text" class="form-control" placeholder="aforo" name="max_capacity">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPrice">Precio</label>
                                            <input type="text" class="form-control" placeholder="precio" name="price">
                                        </div>
                                        <div class="form-group">
                                            <label for="categories_id">Caregorias</label>
                                            <select class="form-control" id="categories_id" name="category">
                                                <%for(var i = 0; i < categories.size;i++){%>
                                                <option><%=categories.get(i) %></option>
                                                <%}%>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPrice">Tags</label>
                                            <input type="text" class="form-control" placeholder="#tag" name="tags">
                                        </div>
                                        
                                    </div>
                                    <div class = "col-md">
                                        <div class="form-group">
                                            <label for="exampleInputPrice">Reseñas</label>
                                            <input type="text" class="form-control" placeholder="reseña" name="review">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPrice">Dirección</label>
                                            <input type="text" class="form-control" placeholder="direccion" name="path">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPrice">Información extra</label>
                                            <input type="text" class="form-control" placeholder="rampas, ascensor, parking, etc"
                                                name="extra_info">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPrice">Público Objetivo</label>
                                            <input type="text" class="form-control" placeholder="edad:" name="target">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPrice">web</label>
                                            <input type="text" class="form-control" placeholder="www." name="web">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Create event</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br>

                <div class="card">
                    <h5 class="card-header">Imagen</h5>
                    <div class="card-body">
                        <form action="/photo" method="POST">

                            <div class="form-group">
                                <label for="exampleInputPrice">Imagen</label>
                                <input type="file" name="image" id="input-files" class="form-control-file border" />
                            </div>       
                                <button type="submit" class="btn btn-primary">Upload Image</button>
                        </form>
                    </div>
                </div>
                <br>

                <div class="card">
                    <h5 class="card-header">Plano</h5>
                    <div class="card-body">
                        <form action="/photo" method="POST">

                            <div class="form-group">
                                <label for="exampleInputPrice">Plano</label>
                                <input type="file" name="blueprint" id="blueprint" class="form-control-file border" />
                            </div>  
                                <button type="submit" class="btn btn-primary">Upload blueprint</button>
                        </form>
                    </div>
                </div>

            </div>  
        </div>
    </div>
</div>



<%- include('partials/_footer.ejs') %>