<%- include('partials/_header') %>

    <body>
        <br><br><br>
        <div class="card mx-auto" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center; font-size: xx-large; font-weight: bold;">Registro</h5>
              <br>
              <p class="card-text" style="text-align: center;">¿Eres una organzación y quieres subir tus propios eventos?</p>
              <a type="button" href="/RegistroEmpresa" class="btn btn-light">Sí</a>
              <a type="button" href="/page3" class="btn btn-light">No</a>
              <br><br><br>
              <div class="card-text" style="text-align: center;">
                ¿Ya tienes una cuenta?
                <a href="/inicio_sesion">Inicia sesión</a>
            </div>
            </div>
          </div>

<%- include('partials/_footer.ejs') %>