<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CulturAppTivity</title>
    <!-- BOOTSTRAP 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
    <!-- SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        body {
            background: url("https://raw.githubusercontent.com/osoc-es/organizaciones-culturales/master/src/views/images/FondoTile.png") !important;
            font-family: 'Barlow', sans-serif;
        }
    </style>
    
</head>

<body>

    <nav class="navbar mb-5 " style="background-color: black !important; height: 10rem; padding-bottom: 0ch !important;">
        <img style="height: 9rem !important;" src="https://raw.githubusercontent.com/osoc-es/organizaciones-culturales/master/src/views/images/logo.png" class="rounded mx-auto d-bloc">
    </nav>