<nav id="searchBar"
  style="padding: 0ch !important; background-color: black !important; z-index: 99 !important; position: fixed !important;  width: 100% !important;"
  class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1"></span>

  <form class="form-inline" action="?" method="GET">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse"
      data-target="#searchCollapse" aria-expanded="false" name="search"><i class="fas fa-search"></i></button>
    <a class="btn btn-outline-success my-2 my-sm-0" href="/" role="button">Create Event</a>
    <a class="btn btn-outline-success my-2 my-sm-0" href="/logout" role="button">Log Out</a>

  </form>
</nav>
<br>
<div class="collapse" style=" z-index: 90 !important; position: fixed !important;  width: 100% !important;"
  id="searchCollapse">
  <form class="form" action="/search" method="POST">
    <div class="card card-body">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <input class="form-control col-11" type="search" placeholder="Search" aria-label="Search" name="title">
        <button type="submit" class="btn btn-secondary">search</button>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <label for="categoryFormControlSelect">Categoria</label>
            <select class="form-control" id="categoryFormControlSelect" name="category">
              <option></option>
              <%for(var i = 0; i < Categories.size;i++){%>
              <option><%=Categories.get(i) %></option>
              <%}%>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="targetFormControlSelect">Traget</label>
                        <select class="form-control" id="targetFormControlSelect" name="target">
                            <option></option>
                            <%for(var i = 0; i < 100 ;i++){%>
              <option><%=i %></option>
              <%}%>
                        </select>
                    </div>
                </div>
              </div>
        
        </div>
    </form>
  </div>