<nav style="padding: 0ch !important; background-color: black !important;" class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1"></span>
  
    <form class="form-inline" action="?" method="POST">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#search"
        aria-expanded="false" name="search"><i class="fas fa-search"></i></button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="sign_in"><i class="fas fa-sign-in-alt"></i>
        Sign in</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="sign_up"><i class="fas fa-sign-in-alt"></i>
        Sign up</button>
  
    </form>
  </nav>
  <div class="collapse" id="search">
    <div class="card card-body">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
  </div>