<nav style="padding: 0ch !important; background-color: black !important; z-index: 99 !important;" class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1"></span>
  
    <form class="form-inline" action="?" method="GET">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#search"
        aria-expanded="false" name="search"><i class="fas fa-search"></i></button>
      <a class="btn btn-outline-success my-2 my-sm-0" href="/inicio_sesion" role="button">Sign In</a>
      <a class="btn btn-outline-success my-2 my-sm-0" href="/registro" role="button">Sign Up</a>
  
    </form>
  </nav>
  <div class="collapse" id="search">
    <form class="form" action="/search" method="POST">
        <div class="card card-body">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <input class="form-control col-11" type="search" placeholder="Search" aria-label="Search" name="title">
                <button type="submit" class="btn btn-secondary">search</button>
              </div>
              <div class="form-group">
                  <div class="row">
                    <div class="col-6">
                        <label for="categoryFormControlSelect">Categoria</label>
                        <select class="form-control" id="categoryFormControlSelect" name="category">
                            <option></option>
                            <%for(var i = 0; i < Categories.size;i++){%>
                                <option><%=Categories.get(i) %></option>
                                <%}%>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="targetFormControlSelect">Traget</label>
                        <select class="form-control" id="targetFormControlSelect" name="target">
                            <option></option>
                            <%for(var i = 0; i < 100 ;i++){%>
                                <option><%=i %></option>
                                <%}%>
                        </select>
                    </div>
                </div>
              </div>
        
        </div>
    </form>
  </div>